@import "./fonts.scss";
@import "./global.scss";
@import "./mixins.scss";
@import "./toggleBlock.scss";

.container {
  .header {
    background-color: #302f33;
    padding: 27px 60px 27px 0;
    nav {
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
      max-width: 1200px;
      ul {
        li {
          display: inline-block;
          cursor: pointer;
          @include fonts(20px, 400, 24px);
          a {
            color: #fff;
          }
          @include href-line(#fff, 1px);
        }
        li + li {
          margin-left: 125px;
        }
      }
    }
  }
  main {
    background-color: #f1ecff;
    padding: 0 60px 40px 60px;
    .title_wrapper {
      padding: 80px 0;
      .title_content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
        .title_image {
          img {
            max-width: 410px;
            width: 100%;
            height: auto;
          }
        }
        .title_text {
          cursor: default;
          margin-left: 75px;
          .title_name {
            @include fonts(40px, 400, 49px);
            margin: 0;
          }
          .title_specialty {
            @include fonts(60px, 600, 73px);
            margin: 10px 0 0 0;
            color: #302f33;
          }
        }
      }
    }
    .skills {
      max-width: 1200px;
      margin: 0 auto;
      h4 {
        @include fonts(35px, 500, 36px);
        margin: 0;
      }
      .line {
        width: 100%;
        border-bottom: 2px solid #000;
        margin: 14px auto 18px;
      }
      span {
        @include fonts(24px, 400, 34px);
        padding: 12px 28px;
        background-color: #302f33;
        color: #fff;
        border-radius: 5px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
    .adaptive_items {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 65px 0 80px 0;
      perspective: 1000px;
      .adapt_phone {
        @include adaptive(82px, 120px, 5, 8%);
        background-image: url(../../img/adapt-phone.svg);
        @include background;
      }
      .adapt_tablet {
        @include adaptive(148px, 165px, 3, 2%);
        background-image: url(../../img/adapt-tablet.svg);
        @include background;
      }
      .adapt_desktop {
        @include adaptive(300px, 220px, 2, -8%);
        background-image: url(../../img/adapt-desktop.svg);
        @include background;
      }
    }
    #info {
      max-width: 1200px;
      margin: 0 auto;
      .about_me {
        h4 {
          @include fonts(35px, 500, 36px);
          margin: 0;
        }
        .line {
          width: 100%;
          border-bottom: 2px solid #000;
          margin: 16px auto;
        }
        p {
          margin: 0;
          @include fonts(24px, 400, 34px);
          max-width: 940px;
          a {
            color: black;
            font-weight: 500;
          }
          @include href-line(black, 1.5px);
        }
      }
      .about_me + .about_me {
        margin-top: 80px;
      }
    }
    .portfolio {
      margin: 0 auto;
      max-width: 900px;
      perspective: 1000px;
      padding-bottom: 140px;
      .container_portfolio {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: 1s;
        transform: rotateX(43deg) rotateZ(-32deg) rotateY(12deg);
        padding-left: 10%;
        transform-style: preserve-3d;
        .card {
          margin: 10px;
          height: 350px;
          width: 220px;
          transition: 0.3s;
          img {
            width: 220px;
            height: 350px;
            border-radius: 2px;
          }
        }
        .card:hover {
          cursor: pointer;
          transform: translateZ(15px);
        }
        .card:active {
          transform: translateZ(5px);
        }
      }
      .js-open_container {
        transform: rotate(0);
        padding-left: 0;
      }
    }
    .js-portfolio_origin {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }
}

@import "./media.scss";
