@import '../css/style.scss';

@media (min-width: 320px) and (max-width: 1200px) {
    .container {
        .header {
            padding: 20px 17px 20px 0;
            nav {
                ul {
                    li {
                        margin: 0;
                    }
                    li:nth-last-child(-n+2) {
                        display: none;
                    }
                }
            }
            .toggle_block {
                width: 97%;
                top: 80px;
                .modal_content {
                    padding: 100px 0 38px 28px;
                    .modal_text {
                        display: block;
                        .flex_modal-text {
                            .items {
                                margin-bottom: 50px;
                                .caption {
                                    @include fonts(14px, 400, 16px);
                                    top: -34px;
                                    left: 23px;
                                }
                                .item {
                                    @include fonts(20px, 400, 26px);
                                }
                            }
                            .location::before {
                                content: url(../img/location-mobile.svg);
                            }
                            .phone::before {
                                content: url(../img/phone-mobile.svg);
                            }
                            .email::before {
                                content: url(../img/email-mobile.svg);
                            }
                            .github::before {
                                content: url(../img/github-mobile.svg);
                            }
                        }
                        .flex_modal-text + .flex_modal-text {
                            margin: 0;
                        }
                    }
                }
            }
        }
        main {
            padding: 0 17px 30px 17px;
            .title_wrapper {
                padding: 30px 0;
                .title_content {
                    display: block;
                    .title_text {
                        margin: 0;
                        .title_name {
                            @include fonts(32px, 400, 40px);
                            margin-bottom: 18px;
                        }
                        .title_specialty {
                            @include fonts(48px, 600, 55px);
                            margin-bottom: 30px;
                        }
                    }
                }
            }
            .skills {
                h4 {
                    @include fonts(30px, 500, 32px);
                }
                span {
                    @include fonts(18px, 400, 25px);
                    padding: 8px 18px;

                }
            }
            .adaptive_items {
                padding: 30px 0 38px 0;
                .adapt_phone {
                    @include adaptive(55px, 80px, 5, 8%);
                    box-shadow: 2px -1px 8px -1px rgb(48, 47, 51);
                }
                .adapt_tablet {
                    @include adaptive(100px, 115px, 3, 2%);
                    box-shadow: 2px -1px 8px -1px rgb(48, 47, 51);
                }
                .adapt_desktop {
                    @include adaptive(190px, 142px, 2, -8%);
                    box-shadow: 1px -1px 6px -1px rgb(48, 47, 51);
                }
            }
            #info {
                .about_me {
                    h4 {
                        @include fonts(30px, 500, 32px);
                    }
                    p {
                        @include fonts(18px, 400, 25px);
                    }
                }
                .about_me + .about_me {
                    margin-top: 40px;
                }
            }
            .portfolio {
                padding: 30px 0;
                .container_portfolio {
                    transform: none;
                    transition: none;
                    padding: 0;
                    .card {
                        width: 260px;
                        height: 400px;
                        margin: 18px 0;
                        transition: none;
                    }
                    .card:hover {
                        transform: none;
                    }
                    .card:active {
                        transform: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 355px) {
    .container {
        .header {
            .toggle_block {
                .modal_content {
                    padding: 108px 0 43px 10px;
                    .modal_text {
                        .flex_modal-text {
                            .items {
                                .item {
                                    @include fonts(18px, 400, 23px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 420px) and (max-width: 898px) {
    .container {
        .header {
            .toggle_block {
                .modal_content {
                    padding: 120px 0 43px 48px;
                    .modal_text {
                        .flex_modal-text {
                            .items {
                                .caption {
                                    @include fonts(16px, 400, 20px);
                                    top: -38px;
                                    left: 30px;
                                }
                                .item {
                                    @include fonts(24px, 400, 30px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 501px) and (max-width: 1200px) {
    .container {
        .header {
            .toggle_block {
                .modal_content {
                    padding: 110px 0 40px 65px;
                    .modal_text {
                        .flex_modal-text {
                            .items {
                                .item {
                                    @include fonts(28px, 400, 36px);
                                }
                            }
                            .location::before {
                                content: url(../img/location.svg);
                            }
                            .phone::before {
                                content: url(../img/phone.svg);
                            }
                            .email::before {
                                content: url(../img/email.svg);
                            }
                            .github::before {
                                content: url(../img/github.svg);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 899px) and (max-width: 1200px) {
    .container {
        .header {
            .toggle_block {
                .modal_content {
                    padding: 85px 0 25px 0;
                    .modal_text {
                        display: flex;
                        .flex_modal-text + .flex_modal-text {
                            margin-left: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    .container {
        .header {
            nav {
                ul {
                    li {
                        margin: 0;
                    }
                    li:nth-last-child(-n+2) {
                        display: inline-block;
                    }
                    li + li {
                        margin-left: 40px;
                    }
                }
            }
        }
        main {
            .adaptive_items {
                .adapt_phone {
                    @include adaptive(90px, 140px, 5, 8%);
                }
                .adapt_tablet {
                    @include adaptive(180px, 200px, 3, 2%);
                }
                .adapt_desktop {
                    @include adaptive(360px, 264px, 2, -8%);
                }
            }
            .portfolio {
                .container_portfolio {
                    .card {
                        width: 260px;
                        height: 400px;
                        margin: 18px 12px;
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .container {
        .header {
            nav {
                ul {
                    li {
                        @include fonts(24px, 400, 28px);
                    }
                    li + li {
                        margin-left: 60px;
                    }
                }
            }
        }
        main {
            .title_wrapper {
                .title_content {
                    display: flex;
                    .title_text {
                        margin-left: 50px;
                        .title_name {
                            @include fonts(35px, 400, 44px);
                        }
                        .title_specialty {
                            @include fonts(52px, 600, 64px);
                        }   
                    }
                }
            }
            .skills {
                h4 {
                    @include fonts(33px, 500, 35px);
                }
                span {
                    @include fonts(21px, 400, 28px);
                }
            }
            .adaptive_items {
                .adapt_phone {
                    @include adaptive(130px, 190px, 5, 8%);
                }
                .adapt_tablet {
                    @include adaptive(220px, 250px, 3, 2%);
                }
                .adapt_desktop {
                    @include adaptive(410px, 310px, 2, -8%);
                }
            }
            #info {
                .about_me {
                    h4 {
                        @include fonts(33px, 500, 35px);
                    }
                    p {
                        @include fonts(22px, 400, 30px);
                    }
                }
            }
        }
    }
}