@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin fonts($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin adaptive($width, $height, $z-index, $left) {
    background-color: #f1ecff;
    width: $width;
    height: $height;
    border: 2px solid #302f33;
    border-radius: 7px;
    position: relative;
    z-index: $z-index;
    box-shadow: 10px -3px 32px -4px rgb(48, 47, 51);
    left: $left;
    transform: rotateY(-12deg);
}

.container {
    .header {
        background-color: #302f33;
        padding: 27px 30px 27px 0;
        nav {
            display: flex;
            justify-content: flex-end;
            ul {
                li {
                    display: inline-block;
                    cursor: pointer;
                    margin-right: 125px;
                    @include fonts(20px, 400, 24px);
                    a {
                        color: #fff;
                    }
                    a:active {
                        transform: scale(0.9);
                        transition: 0.05s;
                    }
                    a:before {
                        content: '';
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        width: 0%;
                        height: 1px;
                        background-color: #fff;
                        transition: 0.2s;
                    }
                    a:hover:before {
                        width: 100%;
                    }
                }
            }
        }
        .toggle_block {
            display: none;
            position: absolute;
            z-index: 5;
            width: 90%;
            margin: auto;
            left: 0;
            right: 0;
            top: 130px;
            .modal_content {
                background-color: #302f33;
                color: #fff;
                padding: 95px 0 10px 0;
                #close {
                    position: absolute;
                    top: 25px;
                    right: 25px;
                    width: 36px;
                    height: 36px;
                    cursor: pointer;
                }
                #close::before, #close::after {
                    position: absolute;
                    left: 15px;
                    content: '';
                    height: 36px;
                    width: 2.6px;
                    background-color: #fff;
                }
                #close::before {
                    transform: rotate(45deg);
                }
                #close::after {
                    transform: rotate(-45deg);
                }
                .modal_text {
                    cursor: default;
                    display: flex;
                    justify-content: center;
                    .flex_modal-text {
                        .items {
                            margin-bottom: 70px;
                            .caption {
                                display: inline-block;
                                margin: 0;
                                @include fonts(15px, 400, 18px);
                                position: relative;
                                top: -45px;
                                left: 28px;
                            }
                            .item {
                                display: inline-block;
                                margin: 0;
                                @include fonts(35px, 400, 43px);
                                a {
                                    color: #fff;
                                }
                            }
                            .city {
                                position: relative;
                                left: -24px;
                            }
                            .number {
                                position: relative;
                                left: -31px;
                            }
                            .post {
                                position: relative;
                                left: -25px;
                            }
                            .git {
                                position: relative;
                                left: -41px;
                                a:active {
                                    transform: scale(0.9);
                                    transition: 0.05s;
                                    }
                                a:before {
                                    content: '';
                                    bottom: 0;
                                    left: 0;
                                    position: absolute;
                                    width: 0%;
                                    height: 1px;
                                    background-color: #fff;
                                    transition: 0.2s;
                                }
                                a:hover:before {
                                    width: 100%;
                                }
                            }
                        }
                        .location::before {
                            content: url(../img/location.svg);
                        }
                        .phone::before {
                            content: url(../img/phone.svg);
                        }
                        .email::before {
                            content: url(../img/email.svg);
                        }
                        .github::before {
                            content: url(../img/github.svg);
                        }
                    }
                    .flex_modal-text + .flex_modal-text {
                        margin-left: 60px;
                    }
                }
            }
        }
    }
    main {
        background-color: #f1ecff;
        padding: 0 60px 40px 60px;
        .title_wrapper {
            padding: 80px 0;
            .title_content {
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                .title_image {
                    img {
                        max-width: 410px;
                        width: 100%;
                        height: auto;
                    }
                }
                .title_text {
                    cursor: default;
                    margin-left: 75px;
                    .title_name {
                        @include fonts(40px, 400, 49px);
                        margin: 0;
                    }
                    .title_specialty {
                        @include fonts(60px, 600, 73px);
                        margin: 10px 0 0 0;
                        color: #302f33;
                    }
                }
            }
        }
        .skills {
            max-width: 1200px;
            margin: 0 auto;
            h4 {
                @include fonts(35px, 500, 36px);
                margin: 0;
            }
            .line {
                width: 100%;
                border-bottom: 2px solid #000;
                margin: 14px auto 18px;
            }
            span {
                @include fonts(24px, 400, 34px);
                padding: 12px 28px;
                background-color: #302f33;
                color: #fff;
                border-radius: 5px;
                display: inline-block;
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }
        .adaptive_items {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 65px 0 80px 0;
            perspective: 1000px;
            .adapt_phone {
                @include adaptive(180px, 260px, 5, 8%);
                background-image: url(../img/adapt-phone.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            .adapt_tablet {
                @include adaptive(330px, 365px, 3, 2%);
                background-image: url(../img/adapt-tablet.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            .adapt_desktop {
                @include adaptive(660px, 480px, 2, -8%);
                background-image: url(../img/adapt-desktop.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        #info {
            max-width: 1200px;
            margin: 0 auto;
            .about_me {
                h4 {
                    @include fonts(35px, 500, 36px);
                    margin: 0;
                }
                .line {
                    width: 100%;
                    border-bottom: 2px solid #000;
                    margin: 16px auto;
                }
                p {
                    margin: 0;
                    @include fonts(24px, 400, 34px);
                    max-width: 940px;
                }
            }
            .about_me + .about_me {
                margin-top: 80px;
            }
        }
        .portfolio {
            margin: 0 auto;
            max-width: 900px;
            perspective: 1000px;
            padding-bottom: 140px;
            .container_portfolio {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                transition: 1s;
                transform: rotateX(43deg) rotateZ(-32deg) rotateY(12deg);
                padding-left: 10%;
                transform-style: preserve-3d;
                .card {
                    margin: 10px;
                    height: 350px;
                    width: 220px;
                    transition: 0.3s;
                    img {
                        max-width: 100%;
                    }
                }
                .card:hover {
                    cursor: pointer;
                    transform: translateZ(15px);
                }
                .card:active {
                    transform: translateZ(5px);
                }
            }
            .js-open_container {
                transform: rotate(0);
                padding-left: 0;
            }
        }
        .js-portfolio_origin {
            padding-top: 30px;
            padding-bottom: 0;
        }
    }
}